---
import MainLayout from '../layouts/MainLayout.astro';
import ComedyJ from '../components/ComedyJ.astro';
import Search from '../components/Search.astro';
---
<MainLayout title="Home">
  <h1 class="text-center my-4"></h1>
   
  <ComedyJ />
  <Search />
  
</MainLayout>