---
import Carousel from '../components/Carousel.astro';
import MainLayout from '../layouts/MainLayout.astro';
import MovieGrid from '../components/MovieGrid.astro';
const movies = [
{ title: "Top Gun: Maverick", image: "../Images/Maverick.jpg", description: "After more than 30 years of service as one of the Navy's top aviators, Pete Mitchell is where he belongs." },
  { title: "Everything Everywhere All at once", imgage: "../Images/Everything.jpg", description: "An epic multiverse adventure with multiple versions of the same character." },
  { title: "The Batman", image: "../Images/The Batman.jpg", description: "A darker take on the Batman franchise, exploring the vigilante’s detective skills." },
  { title: "Stranger Things", image: "../Images/Stranger-things.jpg", description: "The kids of Hawkins face new supernatural threats from the Upside Down." },
  { title: "Avatar: The way of Water", image: "../Images/Avatar.jpg", description: "Return to Pandora for an epic underwater adventure." },
  { title: "House of the Dragon", image: "../Images/House of the Dragon.jpeg", description: "The prequel to Game of Thrones, exploring the rise of House Targaryen." },
  { title: "Black Panther: Wakanda Forever", image: "../Images/Black Panther.jpeg", description: "A powerful exploration of grief, identity, and the legacy of Wakanda." },
  { title: "The Bear", image: "../Images/The bear.jpeg", description: "A young chef from the fine dining world comes home to Chicago to run his family's sandwich shop." },
  { title: "The Northman", image: "../Images/The Northman.jpeg", description: "An epic revenge tale set in the Viking Age." },
  { title: "Euphoria Season 2", image: "../Images/Euphoria.jpeg", description: "Rue and her friends navigate love, loss, and addiction." },
  { title: "The White Lotus", image: "../Images/The White Lotus.jpeg", description: "A satirical look at the lives of wealthy guests at a tropical resort." },
  { title: "Andor", image: "../Images/Andor.jpeg", description: "A gritty, grounded story of rebellion in the Star Wars universe." }
];
---
<MainLayout title="Home">
  <h1 class="text-center my-4">Think of a good name</h1>
  <Carousel /> 
  <MovieGrid movies={movies} />
  
</MainLayout>
