---
import Carousel from '../components/Carousel.astro';
import MainLayout from '../layouts/MainLayout.astro';
import MovieGrid from '../components/MovieGrid.astro';
const movies = [
  { title: "Popcorn Revenge", image: "../Images/Popcorns-revenge.jpg", description: "Will the popcorn win the battle" },
  { title: "Directors Cut", imgage: "../Images/Directors-cut.jpg", description: "See behind the scenes of where it began" },
  { title: "Behind the Lense", image: "../Images/Behind-the-lense.jpg", description: "Who is really watching" },
  { title: "Stranger things", image: "../Images/Stranger-things.jpg", description: "Start from the beginning of stranger things" },
  { title: "Movie 5", image: "../Images/movie-5.jpg", description: "Description for movie 5" },
  { title: "Movie 6", image: "../Images/movie-6.jpg", description: "Description for movie 6" },
  { title: "Movie 7", image: "../Images/movie-7.jpg", description: "Description for movie 7" },
  { title: "Movie 8", image: "../Images/movie-8.jpg", description: "Description for movie 8" },
  { title: "Movie 9", image: "../Images/movie-9.jpg", description: "Description for movie 9" },
  { title: "Movie 10", image: "../Images/movie-10.jpg", description: "Description for movie 10" },
  { title: "Movie 11", image: "../Images/movie-11.jpg", description: "Description for movie 11" },
  { title: "Movie 12", image: "../Images/movie-12.jpg", description: "Description for movie 12" }
];
---
<MainLayout title="Home">
  <h1 class="text-center my-4">Think of a good name</h1>
  <Carousel /> 
  <MovieGrid movies={movies} />
  
</MainLayout>