---
import MainLayout from '../layouts/MainLayout.astro';
import MovieGrid from '../components/MovieGrid.astro';
const movies = [
{ title: "Top Gun: Maverick", image: "../Images/Maverick.jpg", description: "The long-awaited sequel that takes to the skies." },
  { title: "Everything Everywhere All at Once", image: "../Images/Everything1.jpeg", description: "A multiverse-hopping adventure like no other." },
  { title: "The Batman", image: "../Images/The Batman.jpg", description: "A darker, more intense version of the Caped Crusader." },
  { title: "Avatar: The Way of Water", image: "../Images/Avatar.jpg", description: "Return to Pandora in this visually stunning sequel." },
  { title: "Black Panther: Wakanda Forever", image: "../Images/Black Panther.jpeg", description: "The highly anticipated sequel to the groundbreaking original." },
  { title: "The Northman", image: "../Images/Northman1.jpeg", description: "A brutal and epic Viking saga of revenge." },
  { title: "The Whale", image: "../Images/Whale1.jpeg", description: "A powerful and emotional drama with standout performances." },
  { title: "Nope", image: "../Images/Nope1.jpeg", description: "A thrilling and mysterious horror from Jordan Peele." },
  { title: "Glass Onion: A Knives Out Mystery", image: "../Images/Glass Onion.jpeg", description: "A new mystery in the Knives Out series with an all-star cast." },
  { title: "The Menu", image: "../Images/Menu1.jpeg", description: "A dark comedy thriller that takes fine dining to a new level." },
  { title: "Prey", image: "../Images/Prey.jpeg", description: "A prequel to the Predator series, set in the 18th century." },
  { title: "Decision to Leave", image: "../Images/Decision to Leave.jpeg", description: "A gripping South Korean mystery and romance." }

];
---
<MainLayout title="Home">
  <h1 class="text-center my-4">Movies of 2022</h1>
   
  <MovieGrid movies={movies} />
  
</MainLayout>