---
import Carousel from '../components/Carousel.astro';
import MainLayout from '../layouts/MainLayout.astro';
import MovieGrid from '../components/MovieGrid.astro';
const movies = [
  { title: "Top Gun: Maverick", image: "../Images/Popcorns-revenge.jpg", description: "Will the popcorn win the battle" },
  { title: "Everything Everywhere All at once", imgage: "../Images/Directors-cut.jpg", description: "See behind the scenes of where it began" },
  { title: "The Batman", image: "../Images/Behind-the-lense.jpg", description: "Who is really watching" },
  { title: "Stranger Things", image: "../Images/Stranger-things.jpg", description: "Start from the beginning of stranger things" },
  { title: "Avatar: The way of Water", image: "../Images/movie-5.jpg", description: "Description for movie 5" },
  { title: "House of the Dragin", image: "../Images/movie-6.jpg", description: "Description for movie 6" },
  { title: "Black Panther: Wakanda Forever", image: "../Images/movie-7.jpg", description: "Description for movie 7" },
  { title: "The Bear", image: "../Images/movie-8.jpg", description: "Description for movie 8" },
  { title: "The Northman", image: "../Images/movie-9.jpg", description: "Description for movie 9" },
  { title: "Euphoria Season 2", image: "../Images/movie-10.jpg", description: "Description for movie 10" },
  { title: "The White Lotus", image: "../Images/movie-11.jpg", description: "Description for movie 11" },
  { title: "Andor", image: "../Images/movie-12.jpg", description: "Description for movie 12" }
];
---
<MainLayout title="Home">
  <h1 class="text-center my-4">Think of a good name</h1>
  <Carousel /> 
  <MovieGrid movies={movies} />
  
</MainLayout>