---
import MainLayout from '../layouts/MainLayout.astro';
import '/Users/niamh.davis/Desktop/project1.22/public/Styles/global.css'
const pageTitle= 'series'
---
<MainLayout title="Series">
  <h1 class="text-center my-4">Series</h1>
  <!-- Add your content here -->
</MainLayout>
