---
import MainLayout from '../layouts/MainLayout.astro';
import MovieCardJ from '../components/MovieCardJ.astro';
---

<MainLayout>
    <h1 class="text-center"></h1>
    <MovieCardJ />
</MainLayout>
