---
import MainLayout from '../layouts/MainLayout.astro';
import MovieGridJ from '../components/MovieGridJ.astro';
---

<MainLayout>
    <h1 class="text-center">Top Rated Movies</h1>
    <MovieGridJ />
</MainLayout>
