body {
    background-color: #f0f0f5;
    color: #333;
  }
  
  .movie-card {
    margin-bottom: 20px;
  }
  
  .navbar-brand {
    color: #e91e63 !important;
  }
  
  .nav-link {
    color: #fff !important;
  }
  
  h1 {
    color: #e91e63;
  }
  
  .carousel-control-next {
    color: black; 

  }

  .carousel-control-next,  {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #161212;
    text-align: center;
    opacity: 50;
    transition: opacity .15s ease; }